* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

body {
  background-color: wheat;
}

header {
  background-image: url(../img/burgerking.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //   margin-bottom: 50px;
  .headmain {
    background: rgb(131, 58, 180);
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    .head1 {
      display: flex;
      align-items: center;
      gap: 20px;
      i {
        cursor: pointer;
      }
    }
    .head2 {
      i {
        font-size: 2rem;
      }
      .cart {
        min-height: 200px;
        width: 300px;
        background: rgb(131, 58, 180);
        background: linear-gradient(
          90deg,
          rgb(31, 28, 34) 0%,
          rgb(58, 9, 9) 50%,
          rgb(67, 28, 13) 100%
        );
        color: wheat;

        h3 {
          background-color: black;
          text-align: center;
        }
      }
    }
  }

  .dropbtn:hover,
  .dropbtn:focus {
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .show {
    display: block;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 100vh;
  article {
    width: 100%;
    height: 100%;

    .burger {
      display: flex;
      justify-content: space-around;
      height: auto;
      ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        li {
          height: 200px;
          //   height: 1fr;
          border-radius: 10px;
          .price-menu {
            background: rgb(131, 58, 180);
            background: linear-gradient(
              90deg,
              rgb(31, 28, 34) 0%,
              rgb(58, 9, 9) 50%,
              rgb(67, 28, 13) 100%
            );
            color: wheat;
            padding: 10px;
          }
          .burger-1 {
            background-image: url(../img/burger1.avif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            height: 150px;
            border-radius: 20px;
            button {
              padding: 7px;
              cursor: pointer;
            }
          }
          .burger-2 {
            background-image: url(../img/burger2.avif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            height: 150px;
            border-radius: 20px;

            button {
              padding: 7px;
              cursor: pointer;
            }
          }
          .burger-3 {
            background-image: url(../img/burger3.avif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            height: 150px;
            border-radius: 20px;

            button {
              padding: 7px;
              cursor: pointer;
            }
          }
          .burger-4 {
            background-image: url(../img/burger4.avif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            height: 150px;
            border-radius: 20px;

            button {
              padding: 7px;
              cursor: pointer;
            }
          }

          .chips-1 {
            background-image: url(../img/chips1.avif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            height: 150px;
            border-radius: 20px;

            button {
              padding: 7px;
              cursor: pointer;
            }
          }
          .chips-2 {
            background-image: url(../img/chips2.avif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            height: 150px;
            border-radius: 20px;

            button {
              padding: 7px;
              cursor: pointer;
            }
          }
          .chips-3 {
            background-image: url(../img/chips3.avif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            height: 150px;
            border-radius: 20px;

            button {
              padding: 7px;
              cursor: pointer;
            }
          }
          .chips-4 {
            background-image: url(../img/chips4.avif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            height: 150px;
            border-radius: 20px;

            button {
              padding: 7px;
              cursor: pointer;
            }
          }

          .burger-1,
          .burger-2,
          .burger-3,
          .burger-4,
          .chips-1,
          .chips-2,
          .chips-3,
          .chips-4 {
            border: 1px double rgb(255, 158, 158);
            box-shadow: 1px 1px 10px black;
            &:hover {
              transform: scale(1.005);
              transition: transform 0.8s ease-in-out;
            }
          }
        }
      }

      .cart-img {
        height: 420px;
        width: 300px;
        background-image: url(https://i.gifer.com/3OEd.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: wheat;
        border: 2px dotted red;
        border-radius: 20px;
      }
    }
    .cart-img-top {
      height: 30px;
      max-width: 100%;
      background-image: url(https://i.gifer.com/3OEd.gif);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: wheat;
      border: 2px dotted red;
      margin-bottom: 50px;
    }
    /**********/
  }
}

@media (max-width: 1090px) {
  header {
    .headmain {
      width: 500px;
    }
  }
  main {
    article {
      .burger {
        ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

@media (max-width: 890px) {
  main {
    article {
      .burger {
        ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media (max-width: 700px) {
  header {
    .headmain {
      width: 350px;
    }
  }
  main {
    article {
      padding: 20px;
      .burger {
        display: flex;
        flex-direction: column;
        height: auto;
        ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 40px;
        }
        .cart-img {
          height: 30px;
          width: 100%;
          border-radius: 0px;
          margin-top: 100px;
        }
      }
    }
  }
}
